<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.159.0/build/three.module.js",
          "three/examples/jsm/loaders/PLYLoader.js": "https://unpkg.com/three@0.159.0/examples/jsm/loaders/PLYLoader.js",
          "three/examples/jsm/controls/OrbitControls.js": "https://unpkg.com/three@0.159.0/examples/jsm/controls/OrbitControls.js"
        }
      }
    </script>
    <script type="module" src="/js/viewer.js"></script>

    <title>Diş Kavite Ölçüm</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .custom-table-container {
        width: 25%; /* sayfanın yarısı kadar genişlik */
        margin-left: 30px; /* soldan boşluk */
        margin-top: 40px;
        font-size: 0.9rem;
      }

      .content-area {
        min-height: 400px;
        background-color: #1e1e1e;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border: 1px solid #333;
      }

      .btn-custom {
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
      }

      .top-section {
        background-color: #1e1e1e;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        margin-bottom: 20px;
        border: 1px solid #333;
      }

      .form-select {
        background-color: #2d2d2d;
        border-color: #444;
        color: #e0e0e0;
      }

      .form-select:focus {
        background-color: #2d2d2d;
        border-color: #666;
        color: #ffffff;
      }

      .input-group .form-select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .input-group .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .custom-table-container {
        display: flex;
        gap: 20px; /* space between tables */
        flex-wrap: wrap; /* allows wrapping on small screens */
      }

      .table-box {
        flex: 1;
        min-width: 300px; /* prevents tables from becoming too narrow */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- Top section with select dropdown and button -->
      <div class="container">
        <h1 class="mb-4">User Search</h1>
    
        <input type="text" id="searchInput" class="form-control" placeholder="Search by name...">
    
        <ul class="list-group mt-3" id="resultList"></ul>
      </div>
      
      <!-- <div class="top-section">
        <div class="input-group">
          <select class="form-select" id="optionSelect">
            <option selected>Choose an option...</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
          </select>
          <select class="form-select" id="teethSelect">
            <option value="1">1 Numaralı diş</option></select
          ><select class="form-select" id="cavityTypeSelect">
            <option value="1">1. Sınıf Kavite</option>
          </select>
          <button class="btn btn-primary" id="calculateButton">Hesapla</button>
        </div>

        <form>
          <div id="fileUpload" class="mb-3" style="display: none">
            <label for="formFile" class="form-label"
              >Öğrencinin diş dosyası bulunamadı öğrencinin diş dosyasını
              yükleyin :
            </label>
            <input
              class="form-control"
              type="file"
              id="formFile"
              accept=".stl"
            />
            <button type="submit" class="btn btn-primary">Yükle</button>
          </div>
        </form>
      </div> -->
      <!-- <div>
        <p id="status"></p>
      </div> -->

      <!-- Main content area -->
      <div class="row">
        <!-- Left side with 4 buttons stacked vertically -->
        <div class="col-md-3 mb-3">
          <div class="d-grid gap-2">
            <button
              class="btn btn-outline-primary btn-custom"
              onclick='loadSTL("tooth_o3d")'
            >
              Öğrencinin dişi
            </button>
            <button
              class="btn btn-outline-info btn-custom"
              id="button2"
              onclick='loadSTL("../Master")'
            >
              Master Diş
            </button>
            <button
              class="btn btn-outline-success btn-custom"
              id="button3"
              onclick='loadSTL("colored_roughness")'
            >
              Pürüzlülük
            </button>
            <button
              class="btn btn-outline-warning btn-custom"
              id="button4"
              onclick='loadSTLs(["cavity_depth_mesh", "tooth_o3d"])'
            >
              Kavite Derinliği
            </button>
            <button
              class="btn btn-outline-warning btn-custom"
              id="button5"
              onclick='loadSTLs(["tooth_dimension_cylinder_meshes","tooth_o3d"]);'
            >
              Diş Genişliği ve Uzunluğu
            </button>

            <button
              class="btn btn-outline-warning btn-custom"
              onclick='loadSTLs(["cavity_dimension_cylinder_meshes","tooth_o3d"]);'
            >
              Kavite Genişliği ve Uzunluğu
            </button>
            <!-- <button class="btn btn-outline-warning btn-custom" id="button7">
              Kavite Derinliği
            </button> -->
          </div>
        </div>

        <!-- Right side wide div for future content -->
        <div class="col-md-9">
          <div class="content-area p-4" id="viewer">
            <!-- your content -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- Left: Cavity Analysis Table -->
        <div class="col-md-6 mb-4">
          <h6 class="mb-3 text-muted">Cavity Analysis</h6>
          <table class="table table-sm table-bordered shadow-sm">
            <tbody>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Kavitenin Lingual Duvarının Tabanla Yaptığı Açı, dişteki dolgu boşluğunun (kavite) dil tarafındaki iç duvarının zeminiyle birleştiği köşedir. Bu açının doğru hazırlanması, dolgunun dişe sağlam tutunması ve dayanıklı olması için kritiktir."
                >
                  Lingual duvar açısı
                </th>
                <td id="right_angle">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Kavitenin Bukkal Duvarının Tabanla Yaptığı Açı, dişteki dolgu boşluğunun (kavite) yanak tarafındaki dış duvarının zeminiyle birleştiği köşedir. Bu açının doğru hazırlanması, dolgunun dişe sağlam tutunması ve çiğneme kuvvetlerine karşı dayanıklı olması için önemlidir."
                >
                  Bukkal duvar açısı
                </th>
                <td id="left_angle">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Kavitenin Okluzal Derinliği, dişin çiğneme yüzeyindeki dolgu boşluğunun (kavite) en üst noktasından tabanına kadar olan dikey mesafedir. Bu derinlik, milimetre cinsinden ölçülür ve dolgunun dayanıklılığı ile dişin sağlığı açısından büyük önem taşır."
                >
                  Kavite Derinliği
                </th>
                <td id="cavity_depth">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Kavite Tabanının Pürüzlülük Değeri, diş hekimliğinde dolgu boşluğunun (kavite) en alt yüzeyinin ne kadar düzgün veya engebeli olduğunu belirten bir ölçüdür. Bu değer, genellikle mikrometre (µm) cinsinden ifade edilir. Tabanın ideal pürüzlülüğü, dolgu materyalinin dişe maksimum tutunma sağlaması ve bakteri birikimini en aza indirmesi açısından büyük önem taşır."
                >
                  Kavite Taban Pürüzlülüğü
                </th>
                <td id="roughness">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Kavitenin Bukkal-Lingual Boyut Oranı, dişteki dolgu boşluğunun (kavite) yanak tarafından (bukkal) dil tarafına (lingual) olan genişliğinin, diğer boyutlarına oranını ifade eder. Bu oran, dolgunun dişe ne kadar stabil oturacağını ve çiğneme kuvvetlerine karşı ne kadar dirençli olacağını belirlemede önemli bir faktördür."
                >
                  Kavite B-L Boyutu Oranı
                </th>
                <td id="b_l_length_ratio">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Kavitenin Bukkal-Lingual Boyut Oranı, dişteki dolgu boşluğunun (kavite) yanak tarafından (bukkal) dil tarafına (lingual) olan genişliğinin, diğer boyutlarına oranını ifade eder. Bu oran, dolgunun dişe ne kadar stabil oturacağını ve çiğneme kuvvetlerine karşı ne kadar dirençli olacağını belirlemede önemli bir faktördür."
                >
                  Kavite B-L Boyutu
                </th>
                <td id="b_l_length">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Kavitenin Mesial-Distal Boyut Oranı, dişteki dolgu boşluğunun (kavite) dişin ön kısmına (mesial) ve arka kısmına (distal) doğru olan genişliğinin, diğer boyutlarına oranını ifade eder. Bu oran, dolgunun yerleştirileceği kavitenin stabilitesini ve çiğneme kuvvetlerine karşı direncini etkileyen önemli bir parametredir."
                >
                  Kavite M-D Boyutu Oranı
                </th>
                <td id="m_d_length_ratio">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Kavitenin Bukkal-Lingual Boyut Oranı, dişteki dolgu boşluğunun (kavite) yanak tarafından (bukkal) dil tarafına (lingual) olan genişliğinin, diğer boyutlarına oranını ifade eder. Bu oran, dolgunun dişe ne kadar stabil oturacağını ve çiğneme kuvvetlerine karşı ne kadar dirençli olacağını belirlemede önemli bir faktördür."
                >
                  Kavite M-D Boyutu
                </th>
                <td id="m_d_length">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Mesial Marginal"
                >
                  Mesial Marginal Ridge Width
                </th>
                <td id="mesial_ridge_distance">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Distal Marginal"
                >
                  Distal Marginal Ridge Width
                </th>
                <td id="distal_ridge_distance">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Distal Marginal"
                >
                  Mesial Isthmus Length
                </th>
                <td id="mesial_isthmus_length">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Distal Marginal"
                >
                  Distal Isthmus Length
                </th>
                <td id="distal_isthmus_length">--</td>
              </tr>
              <tr>
                <th
                  scope="row"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Toplam skor"
                >
                  Skor
                </th>
                <td id="score">--</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Right: Grading Criteria Table -->
        <div class="col-md-6 mb-4">
          <table class="table table-sm table-bordered shadow-sm">
            <thead>
              <tr>
                <th>Criteria</th>
                <th>Ideal (Score = 10)</th>
                <th>Moderate (Score = 5)</th>
                <th>Unacceptable (Score = 0)</th>
                <th>Notes/Units</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Outline form</td>
                <td>1.58 - 2.00</td>
                <td>1.4 - 1.57 or 2.01 - 3.5</td>
                <td>&lt;1.4 or &gt;3.5</td>
                <td>mm</td>
              </tr>
              <tr>
                <td>Mesial Isthmus Width</td>
                <td>1.5 - 1.99</td>
                <td>1.0 - 1.49 or 2.01 - 2.5</td>
                <td>&lt;1.0 or &gt;2.5</td>
                <td>mm</td>
              </tr>
              <tr>
                <td>Distal Isthmus Width</td>
                <td>1.5 - 1.99</td>
                <td>1.0 - 1.49 or 2.01 - 2.5</td>
                <td>&lt;1.0 or &gt;2.5</td>
                <td>mm</td>
              </tr>
              <tr>
                <td>Buccal-Lingual Width</td>
                <td>2.7 - 3.3</td>
                <td>2.5 - 2.69 or 3.31 - 3.5</td>
                <td>&lt;2.5 or &gt;3.5</td>
                <td>mm</td>
              </tr>
              <tr>
                <td>Buccal-Lingual Width Ratio</td>
                <td>0.35 - 0.45</td>
                <td>0.29 - 0.34</td>
                <td>&lt;0.29 or ≥0.45</td>
                <td>Ratio</td>
              </tr>
              <tr>
                <td>Mesio-distal Width</td>
                <td>7.1 - 8.29</td>
                <td>6.6 - 7.0</td>
                <td>&gt;8.3</td>
                <td>mm</td>
              </tr>
              <tr>
                <td>Mesio-distal Width Ratio</td>
                <td>0.65 - 0.75</td>
                <td>0.60 - 0.649</td>
                <td>&gt;0.75</td>
                <td>Ratio</td>
              </tr>
              <tr>
                <td>Mesial Marginal Ridge Width</td>
                <td>1.2 - 1.6</td>
                <td>1.0 - 1.2 or 1.6 - 2.0</td>
                <td>&lt;1.3 or &gt;2.2</td>
                <td>mm</td>
              </tr>
              <tr>
                <td>Mesial Marginal Ridge Width Ratio</td>
                <td>0.11 - 0.15</td>
                <td>0.09 - 0.109 or 0.151 - 0.18</td>
                <td>&lt;0.09 or &gt;0.18</td>
                <td>Ratio</td>
              </tr>
              <tr>
                <td>Distal Marginal Ridge Width</td>
                <td>1.2 - 1.6</td>
                <td>1.0 - 1.2 or 1.6 - 2.0</td>
                <td>&lt;1.3 or &gt;2.2</td>
                <td>mm</td>
              </tr>
              <tr>
                <td>Distal Marginal Ridge Width Ratio</td>
                <td>0.11 - 0.15</td>
                <td>0.09 - 0.109 or 0.151 - 0.18</td>
                <td>&lt;0.09 or &gt;0.18</td>
                <td>Ratio</td>
              </tr>
              <tr>
                <td>Occlusal Cavity Depth</td>
                <td>2.5 - 3.0</td>
                <td>2.0 - 2.49 or 3.01 - 3.49</td>
                <td>&lt;2.0 or &gt;3.5</td>
                <td>mm</td>
              </tr>
              <tr>
                <td>Surface Smoothness of Cavity Floor</td>
                <td>0 - 10</td>
                <td>10.01 - 40.00</td>
                <td>&gt;40.00</td>
                <td>µm</td>
              </tr>
              <tr>
                <td>Mesial Marginal Ridge (Additional)</td>
                <td>—</td>
                <td>—</td>
                <td>—</td>
                <td>Possible duplication</td>
              </tr>
              <tr>
                <td>Distal Marginal Ridge (Additional)</td>
                <td>—</td>
                <td>—</td>
                <td>—</td>
                <td>Possible duplication</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="js/calculate.js"></script>
    <script src="js/fetchStudentNames.js"></script>
    <script src="js/userData.js"></script>
    <script src="js/search.js"></script>
  </body>

  <script>
    // ogrenci secimi ogrencinin dosyası var mı kontrol ettir

  </script>
</html>
